body {
    background-size: cover;
}
.heading {
    font-size:23px;
    width: 100%;
    margin: 0px;
}
.note {
    font-size: 15px;
    color: black;
}

.song_name {
    font-size: 35px;
    border-radius: 15px;
}

canvas {
    border-radius: 20px;
    border: 10px solid white;
}